Inspinia_MVC5/Connected Services/SATClient/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://safeops-ws-cci.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SATSR" />
  <xs:import schemaLocation="https://safeops-ws-cci.azurewebsites.net/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SATSR.Models" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SATSR" minOccurs="0" name="LoginResult" nillable="true" type="q1:USER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Forgot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SATSR" minOccurs="0" name="ForgotResult" nillable="true" type="q2:USER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iduser" type="xs:int" />
        <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoBusqueda" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewSearchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search69">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSearch" type="xs:int" />
        <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoBusqueda" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search69Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="Search69Result" nillable="true" type="q3:SearchGenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search69B">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSearch" type="xs:int" />
        <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoBusqueda" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search69BResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="Search69BResult" nillable="true" type="q4:SearchGenericResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detail69">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSearch" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detail69Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="Detail69Result" nillable="true" type="q5:Detail69Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detail69B">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSearch" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Detail69BResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="Detail69BResult" nillable="true" type="q6:Detail69BResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newpassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="ChangePasswordResult" nillable="true" type="q7:ExecResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentSearchs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentSearchsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="CurrentSearchsResult" nillable="true" type="q8:ArrayOfSearchHistoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="History">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="HistoryResult" nillable="true" type="q9:ArrayOfSearchHistoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="ProvHistoryResult" nillable="true" type="q10:ArrayOfSearchHistoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="GetAccountInfoResult" nillable="true" type="q11:AccountInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeAccountInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeAccountInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="GetTypeAccountInfoResult" nillable="true" type="q12:TypeAccountInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="CurrentPeriodResult" nillable="true" type="q13:CurrentPeriodResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="toSearch" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="ValidateAccountResult" nillable="true" type="q14:ValidateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="ValidateEmailResult" nillable="true" type="q15:ExecResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q16:AccountPersonalInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="GetMessagesResult" nillable="true" type="q17:ArrayOfMessageResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMessage" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMessagesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="GetAllMessagesResult" nillable="true" type="q18:ArrayOfMessageResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentAutSearchs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentAutSearchsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="CurrentAutSearchsResult" nillable="true" type="q19:ArrayOfSearchHistoryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvHistoryDetail69">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvHistoryDetail69Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="ProvHistoryDetail69Result" nillable="true" type="q20:ArrayOfDetail69SupuestoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvHistoryDetail69B">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvHistoryDetail69BResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="ProvHistoryDetail69BResult" nillable="true" type="q21:ArrayOfDetail69BResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvHistorySimple">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvHistorySimpleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SATSR.Models" minOccurs="0" name="ProvHistorySimpleResult" nillable="true" type="q22:ArrayOfSearchHistorySimpleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailNotification">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>